h1 {
	color: black;
	font-size: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px,70px);
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}

.materials {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	gap: 200px;
	height :100%;
	left: 5%;
}

.materials img {
    width: 80%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.materials img:hover {
	transform: scale(1.05);
}

.glass {
	background-color: black;
}

.g-shape {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
    gap: 150px;
    margin-top: 5px;
    margin-left: 550px;
}

.g-shape img:hover {
	transform: scale(1.08);
}

.g1 img{
	width: 290px;
}

.g2 img{
	width: 140px;
}

.g3 img{
	width: 120px;
}

.g4 img{
	width: 240px;
}

.g5 img{
	width: 260px;
}

.g6 img{
	width: 220px;
}

.g7 img{
	width: 180px;
}

.g8 img{
	width: 80px;
}

.g9 img{
	width: 80px;
}

.g10 img{
	width: 240px;
}

.gg1 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg2 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 620px;
    left: 750px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg3 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1080px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg4 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1500px;
    left: 740px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg5 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1840px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
 }

.gg6 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2160px;
    left: 730px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg7 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2500px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg8 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2960px;
    left: 740px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg9 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3380px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.gg10 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3760px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.h-icon {
	top: 1150px;
	right: 10px;
	position: absolute;
}

.h-icon1 {
	top: 3870px;
	right: 10px;
	position: absolute;
}

.h-icon2 {
	top: 2120px;
	right: 10px;
	position: absolute;
}

.h-icon3 {
	top: 3770px;
	right: 10px;
	position: absolute;
}

.h-icon img{
	width: 50px;
}

.h-icon1 img {
	width: 50px;
}

.h-icon2 img {
	width: 50px;
}

.h-icon3 img {
	width: 50px;
}

.g-icon {
	top: 1130px;
	left: 1px;
	position: absolute;
}

.g-icon1 {
	top: 3850px;
	left: 1px;
	position: absolute;
}

.g-icon2 {
	top: 2100px;
	left: 1px;
	position: absolute;
}

.g-icon3 {
	top: 3750px;
	left: 1px;
	position: absolute;
}

.g-icon img {
	width: 50px;
}

.g-icon1 img {
	width: 50px;
}

.g-icon2 img {
	width: 50px;
}

.g-icon3 img {
	width: 50px;
}

.m-icon {
	top: 1130px;
	left: 80px;
	position: absolute;
}

.m-icon1 {
	top: 3850px;
	left: 80px;
	position: absolute;
}

.m-icon2 {
	top: 2100px;
	left: 80px;
	position: absolute;
}

.m-icon3 {
	top: 3750px;
	left: 80px;
	position: absolute;
}

.m-icon img {
	width: 50px;
}

.m-icon1 img {
	width: 50px;
}

.m-icon2 img {
	width: 50px;
}

.m-icon3 img {
	width: 50px;
}

.p-icon {
	top: 1130px;
	left: 160px;
	position: absolute;
}

.p-icon1 {
	top: 3850px;
	left: 160px;
	position: absolute;
}

.p-icon2 {
	top: 2100px;
	left: 160px;
	position: absolute;
}

.p-icon3 {
	top: 3750px;
	left: 160px;
	position: absolute;
}

.p-icon img {
	width: 40px;
}

.p-icon1 img {
	width: 40px;
}

.p-icon2 img {
	width: 40px;
}

.p-icon3 img {
	width: 40px;
}

.ga img {
	width: 450px;
	position: absolute;
	top: 300px;
	left: 530px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gb img {
	width: 170px;
	position: absolute;
	top: 270px;
	left: 670px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gc img {
	width: 130px;
	position: absolute;
	top: 270px;
	left: 700px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gd img {
	width: 300px;
	position: absolute;
	top: 240px;
	left: 590px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.ge img {
	width: 400px;
	position: absolute;
	top: 310px;
	left: 560px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gf img {
	width: 370px;
	position: absolute;
	top: 280px;
	left: 570px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gg img {
	width: 280px;
	position: absolute;
	top: 290px;
	left: 640px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gh img {
	width: 88px;
	position: absolute;
	top: 280px;
	left: 710px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gi img{
	width: 100px;
	position: absolute;
	top: 260px;
	left: 710px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.gj img{
	width: 340px;
	position: absolute;
	top: 270px;
	left: 590px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.g-detail1 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail2 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail3 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail4 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail5 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail6 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail7 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail8 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail9 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail10 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.ga-shape {
	display: flex;
    min-height: 100vh;
}

.gb-shape {
	display: flex;
    min-height: 100vh;
}

.gc-shape {
	display: flex;
    min-height: 100vh;
}

.gd-shape {
	display: flex;
    min-height: 100vh;
}

.g1-shape {
	width: 170px;
	position: absolute;
	top: 10px;
	left: 40px;
}

.g2-shape {
	width: 50px;
	position: absolute;
	top: 10px;
	left: 300px;
}

.g3-shape {
	width: 40px;
	position: absolute;
	top: 5px;
	left: 450px;
}

.g4-shape {
	width: 90px;
	position: absolute;
	top: 5px;
	left: 550px;
}

.g5-shape {
	width: 100px;
	position: absolute;
	top: 40px;
	right: 650px;
}

.g6-shape {
	width: 100px;
	position: absolute;
	top: 20px;
	right: 500px;
}

.g7-shape {
	width: 80px;
	position: absolute;
	top: 30px;
	right: 350px;
}

.g8-shape {
	width: 30px;
	position: absolute;
	top: 5px;
	right: 250px;
}

.g9-shape {
	width: 30px;
	position: absolute;
	top: 10px;
	right: 150px;
}

.g10-shape {
	width: 90px;
	position: absolute;
	top: 15px;
	right: 10px;
}

.metal {
	background-color: black;
}

.m-shape {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
    gap: 150px;
    margin-top: 5px;
    margin-left: 550px;
}

.m-shape img:hover {
	transform: scale(1.08);
}

.m1 img{
	width: 200px;
}

.m2 img{
	width: 150px;
}

.m3 img{
	width: 200px;
}

.m4 img{
	width: 250px;
}

.m5 img{
	width: 150px;
}

.m6 img{
	width: 200px;
}

.mm1 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 180px;
    left: 710px;
    color: white;
	font-family: 'Song Myung', serif;
}

.mm2 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 590px;
    left: 680px;
    color: white;
	font-family: 'Song Myung', serif;
}

.mm3 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 980px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

.mm4 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1310px;
    left: 730px;
    color: white;
	font-family: 'Song Myung', serif;
}

.mm5 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1710px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.mm6 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2000px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

.ma img {
	width: 450px;
	position: absolute;
	top: 263px;
	left: 520px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.mb img {
	width: 200px;
	position: absolute;
	top: 267px;
	left: 640px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.mc img {
	width: 270px;
	position: absolute;
	top: 277px;
	left: 630px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.md img {
	width: 420px;
	position: absolute;
	top: 250px;
	left: 550px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.me img {
	width: 220px;
	position: absolute;
	top: 280px;
	left: 650px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.mf img {
	width: 390px;
	position: absolute;
	top: 290px;
	left: 570px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


.m-detail1 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail2 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail3 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail4 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail5 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail6 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m1-shape {
	width: 100px;
	position: absolute;
	top: 13px;
	left: 50px;
}

.m2-shape {
	width: 50px;
	position: absolute;
	top: 10px;
	left: 320px;
}

.m3-shape {
	width: 65px;
	position: absolute;
	top: 15px;
	left: 550px;
}

.m4-shape {
	width: 100px;
	position: absolute;
	top: 14px;
	right: 550px;
}

.m5-shape {
	width: 56px;
	position: absolute;
	top: 15px;
	right: 300px;
}

.m6-shape {
	width: 80px;
	position: absolute;
	top: 24px;
	right: 50px;
}

.plastic {
	background-color: black;
}

.p-shape {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
    gap: 150px;
    margin-top: 5px;
    margin-left: 550px;
}

.p-shape img:hover {
	transform: scale(1.08);
}

.p1 img{
	width: 100px;
}

.p2 img{
	width: 180px;
}

.p3 img{
	width: 200px;
}

.p4 img{
	width: 250px;
}

.p5 img{
	width: 250px;
}

.p6 img{
	width: 200px;
}

.p7 img{
	width: 150px;
}

.p8 img{
	width: 150px;
}

.p9 img{
	width: 200px;
}

.pp1 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp2 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    left: 730px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp3 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1000px;
    left: 730px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp4 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1380px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp5 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1720px;
    left: 730px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp6 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2120px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp7 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2540px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp8 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3090px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pp9 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3610px;
    left: 710px;
    color: white;
	font-family: 'Song Myung', serif;
}

.pa img {
	width: 120px;
	position: absolute;
	top: 290px;
	left: 685px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.pb img {
	width: 350px;
	position: absolute;
	top: 300px;
	left: 580px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.pc img {
	width: 200px;
	position: absolute;
	top: 260px;
	left: 650px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.pd img {
	width: 350px;
	position: absolute;
	top: 270px;
	left: 580px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.pe img {
	width: 400px;
	position: absolute;
	top: 270px;
	left: 550px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.pf img {
	width: 230px;
	position: absolute;
	top: 270px;
	left: 640px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.pg img {
	width: 170px;
	position: absolute;
	top: 280px;
	left: 664px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.ph img {
	width: 110px;
	position: absolute;
	top: 270px;
	left: 694px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.pi img{
	width: 190px;
	position: absolute;
	top: 253px;
	left: 660px;
	z-index: 2;
	animation: bounce 2s infinite;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.p-detail1 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail2 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail3 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail4 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail5 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail6 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail7 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail8 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail9 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p1-shape {
	width: 40px;
	position: absolute;
	top: 10px;
	left: 40px;
}

.p2-shape {
	width: 70px;
	position: absolute;
	top: 40px;
	left: 180px;
}

.p3-shape {
	width: 67px;
	position: absolute;
	top: 10px;
	left: 330px;
}

.p4-shape {
	width: 95px;
	position: absolute;
	top: 23px;
	left: 500px;
}

.p5-shape {
	width: 105px;
	position: absolute;
	top: 33px;
	right: 650px;
}

.p6-shape {
	width: 90px;
	position: absolute;
	top: 10px;
	right: 480px;
}

.p7-shape {
	width: 55px;
	position: absolute;
	top: 23px;
	right: 320px;
}

.p8-shape {
	width: 45px;
	position: absolute;
	top: 5px;
	right: 180px;
}

.p9-shape {
	width: 65px;
	position: absolute;
	top: 10px;
	right: 40px;
}