h1 {
	color: black;
	font-size: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px,70px);
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}

.materials {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	gap: 200px;
	height :100%;
	left: 5%;
}

.materials img {
    width: 80%;
}

.materials img:hover {
	transform: scale(1.05);
}

.glass {
	background-color: black;
}

.g-shape {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
    gap: 150px;
    margin-top: 5px;
    margin-left: 530px;
}

@media (max-width: 1024px) {
  .g-shape {
    position: static;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
  }
}

.g-shape img:hover {
	transform: scale(1.08);
}

.g1 img{
	width: 250px;
}

.g2 img{
	width: 140px;
}

.g3 img{
	width: 120px;
}

.g4 img{
	width: 200px;
}

.g5 img{
	width: 240px;
}

.g6 img{
	width: 220px;
}

.g7 img{
	width: 180px;
}

.g8 img{
	width: 80px;
}

.g9 img{
	width: 80px;
}

.g10 img{
	width: 240px;
}

.gg1 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 180px;
    left: 680px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg1 {
    position: absolute !important;
    top: 90px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg2 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 580px;
    left: 715px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg2 {
    position: absolute !important;
    top: 320px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg3 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1030px;
    left: 680px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg3 {
    position: absolute !important;
    top: 650px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg4 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1400px;
    left: 690px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg4 {
    position: absolute !important;
    top:950px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg5 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1700px;
    left: 690px;
    color: white;
	font-family: 'Song Myung', serif;
 }

 @media (max-width: 1024px) {
  .gg5 {
    position: absolute !important;
    top: 1170px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg6 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2030px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg6 {
    position: absolute !important;
    top: 1360px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg7 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2380px;
    left: 710px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg7 {
    position: absolute !important;
    top: 1600px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg8 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2820px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg8 {
    position: absolute !important;
    top: 1900px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg9 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3240px;
    left: 680px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg9 {
    position: absolute !important;
    top: 2200px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.gg10 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3620px;
    left: 680px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .gg10 {
    position: absolute !important;
    top: 2500px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.h-icon {
	top: 1130px;
	right: 10px;
	position: absolute;
}

.h-icon1 {
	top: 3850px;
	right: 10px;
	position: absolute;
}

.h-icon2 {
	top: 2100px;
	right: 10px;
	position: absolute;
}

.h-icon3 {
	top: 3750px;
	right: 10px;
	position: absolute;
}

.h-icon img{
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.h-icon img:hover{
	opacity: 1;
}

.h-icon1 img {
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.h-icon1 img:hover{
	opacity: 1;
}

.h-icon2 img {
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.h-icon2 img:hover{
	opacity: 1;
}

.h-icon3 img {
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.h-icon3 img:hover{
	opacity: 1;
}

.g-icon {
	top: 1130px;
	left: 1px;
	position: absolute;
}

.g-icon1 {
	top: 3850px;
	left: 1px;
	position: absolute;
}

.g-icon2 {
	top: 2100px;
	left: 1px;
	position: absolute;
}

.g-icon3 {
	top: 3750px;
	left: 1px;
	position: absolute;
}

.g-icon img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.g-icon img:hover{
	opacity: 1;
}

.g-icon1 img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.g-icon1 img:hover{
	opacity: 1;
}

.g-icon2 img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.g-icon2 img:hover{
	opacity: 1;
}

.g-icon3 img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.g-icon3 img:hover{
	opacity: 1;
}

.m-icon {
	top: 1130px;
	left: 80px;
	position: absolute;
}

.m-icon1 {
	top: 3850px;
	left: 80px;
	position: absolute;
}

.m-icon2 {
	top: 2100px;
	left: 80px;
	position: absolute;
}

.m-icon3 {
	top: 3750px;
	left: 80px;
	position: absolute;
}

.m-icon img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.m-icon img:hover{
	opacity: 1;
}

.m-icon1 img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.m-icon1 img:hover{
	opacity: 1;
}

.m-icon2 img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.m-icon2 img:hover{
	opacity: 1;
}

.m-icon3 img {
	width: 50px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.m-icon3 img:hover{
	opacity: 1;
}

.p-icon {
	top: 1130px;
	left: 160px;
	position: absolute;
}

.p-icon1 {
	top: 3850px;
	left: 160px;
	position: absolute;
}

.p-icon2 {
	top: 2100px;
	left: 160px;
	position: absolute;
}

.p-icon3 {
	top: 3750px;
	left: 160px;
	position: absolute;
}

.p-icon img {
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.p-icon img:hover{
	opacity: 1;
}

.p-icon1 img {
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.p-icon1 img:hover{
	opacity: 1;
}

.p-icon2 img {
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.p-icon2 img:hover{
	opacity: 1;
}

.p-icon3 img {
	width: 75px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.p-icon3 img:hover{
	opacity: 1;
}

.ga img {
	width: 450px;
	position: absolute;
	top: 300px;
	left: 530px;
	z-index: 2;
	animation: bounce 2s infinite;
}

@media (max-width: 1024px) {
  .ga img{
  	position: static !important;
    width: 450px !important;
    margin-top: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.gb img {
	width: 170px;
	position: absolute;
	top: 270px;
	left: 670px;
	z-index: 2;
	animation: bounce 2s infinite;
}

@media (max-width: 1024px) {
  .gb img{
  	position: static !important;
    width: 170px !important;
    margin-top: 300px !important;
    margin-left: 130px;
    margin-right: auto;
  }
}

.gc img {
	width: 130px;
	position: absolute;
	top: 270px;
	left: 700px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.gd img {
	width: 300px;
	position: absolute;
	top: 240px;
	left: 590px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.ge img {
	width: 400px;
	position: absolute;
	top: 310px;
	left: 560px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.gf img {
	width: 370px;
	position: absolute;
	top: 280px;
	left: 570px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.gg img {
	width: 280px;
	position: absolute;
	top: 290px;
	left: 640px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.gh img {
	width: 88px;
	position: absolute;
	top: 280px;
	left: 710px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.gi img{
	width: 100px;
	position: absolute;
	top: 260px;
	left: 710px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.gj img{
	width: 340px;
	position: absolute;
	top: 270px;
	left: 590px;
	z-index: 2;
	animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.g-detail1 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

@media (max-width: 1024px) {
  .g-detail1 img{
  	position: static !important;
    width: 450px !important;
    margin-top: -400px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.g-detail2 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

@media (max-width: 1024px) {
  .g-detail2 img{
  	position: static !important;
    width: 450px !important;
    margin-top: -400px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.g-detail3 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail4 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail5 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail6 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail7 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail8 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail9 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.g-detail10 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.ga-shape {
	display: flex;
    min-height: 100vh;
}

.gb-shape {
	display: flex;
    min-height: 100vh;
}

.gc-shape {
	display: flex;
    min-height: 100vh;
}

.gd-shape {
	display: flex;
    min-height: 100vh;
}

.g1-shape {
	width: 130px;
	position: absolute;
	top: 20px;
	left: 60px;
}

.g2-shape {
	width: 50px;
	position: absolute;
	top: 10px;
	left: 250px;
}

.g3-shape {
	width: 40px;
	position: absolute;
	top: 5px;
	left: 400px;
}

.g4-shape {
	width: 80px;
	position: absolute;
	top: 25px;
	left: 530px;
}

.g5-shape {
	width: 100px;
	position: absolute;
	top: 34px;
	right: 670px;
}

.g6-shape {
	width: 100px;
	position: absolute;
	top: 20px;
	right: 500px;
}

.g7-shape {
	width: 70px;
	position: absolute;
	top: 30px;
	right: 350px;
}

.g8-shape {
	width: 30px;
	position: absolute;
	top: 5px;
	right: 250px;
}

.g9-shape {
	width: 30px;
	position: absolute;
	top: 10px;
	right: 150px;
}

.g10-shape {
	width: 90px;
	position: absolute;
	top: 15px;
	right: 10px;
}

.metal {
	background-color: black;
}

.m-shape {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
    gap: 150px;
    margin-top: 5px;
    margin-left: 540px;
}

@media (max-width: 1024px) {
  .m-shape {
    position: static;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
  }
}

.m-shape img:hover {
	transform: scale(1.08);
}

.m1 img{
	width: 200px;
}

.m2 img{
	width: 130px;
}

.m3 img{
	width: 180px;
}

.m4 img{
	width: 250px;
}

.m5 img{
	width: 150px;
}

.m6 img{
	width: 200px;
}

.mm1 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 180px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .mm1 {
    position: absolute !important;
    top: 70px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.mm2 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    left: 670px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .mm2 {
    position: absolute !important;
    top: 300px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.mm3 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 930px;
    left: 689px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .mm3 {
    position: absolute !important;
    top: 570px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.mm4 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1250px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .mm4 {
    position: absolute !important;
    top: 820px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.mm5 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1650px;
    left: 710px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .mm5 {
    position: absolute !important;
    top: 1070px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.mm6 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1950px;
    left: 690px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .mm6 {
    position: absolute !important;
    top: 1300px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.ma img {
	width: 450px;
	position: absolute;
	top: 263px;
	left: 520px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.mb img {
	width: 200px;
	position: absolute;
	top: 267px;
	left: 640px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.mc img {
	width: 270px;
	position: absolute;
	top: 277px;
	left: 630px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.md img {
	width: 420px;
	position: absolute;
	top: 250px;
	left: 550px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.me img {
	width: 220px;
	position: absolute;
	top: 280px;
	left: 650px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.mf img {
	width: 400px;
	position: absolute;
	top: 290px;
	left: 560px;
	z-index: 2;
	animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


.m-detail1 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail2 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail3 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail4 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail5 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m-detail6 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.m1-shape {
	width: 100px;
	position: absolute;
	top: 13px;
	left: 50px;
}

.m2-shape {
	width: 50px;
	position: absolute;
	top: 10px;
	left: 320px;
}

.m3-shape {
	width: 65px;
	position: absolute;
	top: 15px;
	left: 550px;
}

.m4-shape {
	width: 100px;
	position: absolute;
	top: 14px;
	right: 550px;
}

.m5-shape {
	width: 56px;
	position: absolute;
	top: 15px;
	right: 300px;
}

.m6-shape {
	width: 80px;
	position: absolute;
	top: 24px;
	right: 50px;
}

.plastic {
	background-color: black;
}

.p-shape {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
    gap: 150px;
    margin-top: 5px;
    margin-left: 530px;
}

@media (max-width: 1024px) {
  .p-shape {
    position: static;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
  }
}

.p-shape img:hover {
	transform: scale(1.08);
}

.p1 img{
	width: 100px;
}

.p2 img{
	width: 180px;
}

.p3 img{
	width: 200px;
}

.p4 img{
	width: 250px;
}

.p5 img{
	width: 250px;
}

.p6 img{
	width: 200px;
}

.p7 img{
	width: 150px;
}

.p8 img{
	width: 150px;
}

.p9 img{
	width: 200px;
}

.pp1 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    left: 705px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp1 {
    position: absolute !important;
    top: 130px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp2 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 550px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp2 {
    position: absolute !important;
    top: 350px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp3 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1000px;
    left: 710px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp3 {
    position: absolute !important;
    top: 600px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp4 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1380px;
    left: 710px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp4 {
    position: absolute !important;
    top: 920px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp5 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1720px;
    left: 720px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp5 {
    position: absolute !important;
    top: 1200px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp6 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2120px;
    left: 710px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp6 {
    position: absolute !important;
    top: 1450px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp7 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2540px;
    left: 690px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp7 {
    position: absolute !important;
    top: 1720px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp8 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3095px;
    left: 700px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp8 {
    position: absolute !important;
    top: 2100px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pp9 {
	text-align: center;
	font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3610px;
    left: 690px;
    color: white;
	font-family: 'Song Myung', serif;
}

@media (max-width: 1024px) {
  .pp9 {
    position: absolute !important;
    top: 2550px !important;
    left: 50px !important;
    font-size: 25px !important;
  }
}

.pa img {
	width: 120px;
	position: absolute;
	top: 290px;
	left: 685px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.pb img {
	width: 350px;
	position: absolute;
	top: 300px;
	left: 580px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.pc img {
	width: 200px;
	position: absolute;
	top: 260px;
	left: 650px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.pd img {
	width: 350px;
	position: absolute;
	top: 270px;
	left: 580px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.pe img {
	width: 400px;
	position: absolute;
	top: 270px;
	left: 550px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.pf img {
	width: 230px;
	position: absolute;
	top: 270px;
	left: 640px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.pg img {
	width: 170px;
	position: absolute;
	top: 280px;
	left: 664px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.ph img {
	width: 115px;
	position: absolute;
	top: 270px;
	left: 694px;
	z-index: 2;
	animation: bounce 2s infinite;
}

.pi img{
	width: 190px;
	position: absolute;
	top: 253px;
	left: 660px;
	z-index: 2;
	animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.p-detail1 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail2 img{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail3 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail4 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail5 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail6 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail7 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail8 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p-detail9 img {
	width: 450px;
	position: absolute;
	top: 200px;
	left: 530px;
}

.p1-shape {
	width: 40px;
	position: absolute;
	top: 10px;
	left: 40px;
}

.p2-shape {
	width: 70px;
	position: absolute;
	top: 40px;
	left: 180px;
}

.p3-shape {
	width: 67px;
	position: absolute;
	top: 10px;
	left: 330px;
}

.p4-shape {
	width: 95px;
	position: absolute;
	top: 23px;
	left: 500px;
}

.p5-shape {
	width: 105px;
	position: absolute;
	top: 33px;
	right: 650px;
}

.p6-shape {
	width: 90px;
	position: absolute;
	top: 10px;
	right: 480px;
}

.p7-shape {
	width: 55px;
	position: absolute;
	top: 23px;
	right: 320px;
}

.p8-shape {
	width: 45px;
	position: absolute;
	top: 5px;
	right: 180px;
}

.p9-shape {
	width: 65px;
	position: absolute;
	top: 10px;
	right: 40px;
}